version: "3.8"

services:
  geth:
    image: ethereum/client-go:v1.14.7
    restart: unless-stopped
    ports:
      - 30303:30303
      - 30303:30303/udp
      - 8545:8545
      - 8546:8546
    volumes:
      - ${GETH_DATADIR:-/root/.ethereum/sepolia}:/root/.ethereum
    stop_signal: SIGINT
    stop_grace_period: 2m
    healthcheck:
      test: ["CMD-SHELL", "geth attach --datadir /root/.ethereum --exec eth.blockNumber"]
      interval: 10s
      timeout: 5s
      retries: 5
    command:
      - --sepolia
      - --datadir=/root/.ethereum
      - --http
      - --http.api=eth,net,engine,admin,web3
      - --http.addr=0.0.0.0
      - --http.vhosts=*
      - --http.corsdomain=*
      - --ws
      - --ws.origins=*
      - --ws.addr=0.0.0.0
      - --ws.api=eth,net,web3
      - --graphql
      - --graphql.corsdomain=*
      - --graphql.vhosts=*
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "10"
  genesis:
    image: alpine:latest
    restart: on-failure
    entrypoint: ["sh", "-c"]
    command:
      - "if [ ! -f genesis.ssz ]; then wget 'https://raw.githubusercontent.com/eth-clients/sepolia/main/metadata/genesis.ssz'; fi && if [ ! -f config.yaml ]; then wget 'https://raw.githubusercontent.com/eth-clients/sepolia/main/metadata/config.yaml'; fi"
    working_dir: /genesis
    volumes:
      - ${PRYSM_DATADIR:-/root/.eth2}:/genesis
  prysm:
    image: prysmaticlabs/prysm-beacon-chain:v5.0.4
    restart: unless-stopped
    stop_grace_period: 2m
    volumes:
      - ${PRYSM_DATADIR:-/root/.eth2}:/data
      - ${GETH_DATADIR:-/root/.ethereum/sepolia}:/geth
    depends_on:
      geth:
        condition: service_healthy
      genesis:
        condition: service_completed_successfully
    command:
      - --accept-terms-of-use
      - --datadir=/data
      - --execution-endpoint=/geth/geth.ipc
      - --rpc-host=0.0.0.0
      - --grpc-gateway-host=0.0.0.0
      - --genesis-state=/data/genesis.ssz
      - --chain-config-file=/data/config.yaml
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "10"
